<div class="remodal">
    <div class="text-left">
{{ form_start(form) }}
    {{ form_errors(form) }}

    {% for row in form.children %}
        {{ form_row(row) }}
    {% endfor %}
    <button class="btn btn-default btn-sm add-objective" data-collection-target="{{ form.children.objectives.vars.id }}" type="button">Add objective</button><br/>
    <button class="btn btn-primary" type="submit">
        Save
    </button>
{{ form_end(form) }}
    </div>
</div>