<div class="row text-left">
    <button data-remodal-action="close" class="remodal-close"></button>
    <div class="col-xs-3">
        <span>Status:</span>
    </div>
    <div class="col-xs-9">
        <span class="{{ feedback|feedback_status_label }}">{{ feedback|feedback_status }}</span>
    </div>
    <div class="col-xs-3">
        <span>Lesson rating:</span>
    </div>
    <div class="col-xs-9">
        {{ feedback.lessonRating }}
    </div>
    <div class="col-xs-3">
        <span>Teacher rating:</span>
    </div>
    <div class="col-xs-9">
        {{ feedback.teacherRating }}
    </div>
    {% if feedback.lessonComment|length > 0 %}
        <div class="col-xs-12">
            <span>Lesson comment:</span>
        </div>
        <div class="col-xs-12">
            {{ feedback.lessonComment|nl2br }}
        </div>
    {% endif %}
    {% if feedback.teacherComment|length > 0 %}
        <div class="col-xs-12">
            <span>Teacher comment:</span> 
        </div>
        <div class="col-xs-12">
            {{ feedback.teacherComment|nl2br }}
        </div>
    {% endif %}
</div>